.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

body {
    font-family: 'Noto Serif', serif;
    background-image: 
    url("background.jpg");
    color: whitesmoke;
  }
h1,h2{
    justify-content: center;
    display: flex;
    color: whitesmoke;
  }
header .profile-chako {
    width: 250px;
    height: 250px;
    border-radius: 5px;
  }
header .profile-chako {
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
  }
.date{
    display: flex;
    margin-left: 40px;
}
header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
    margin-left:10px; 
  }
h3,.section2 {
    display: flex;
    margin: 0;
    align-items: center;
  }
#inner p {
    margin-bottom: 10px;
    font-size: 20px;
  }
#inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
  }
footer {
    display: flex;
    font-size: 20px;
   
  }
footer .cta {
    margin-left: auto;
    
    
  }
footer .cta button {
    border: 0;
    background: transparent;
    color: rgb(15, 19, 238);
    
  }
  th {
    border: 2px solid #8c6b48;
  }
  tabel{
    align-items:center;
    margin: 40px auto;
    
  }
  
  td {
    border: 2px solid #8c6b48;
    width: 300px;
  }
  .table {
    max-width: 940px;
    margin: 0 auto;
    height: 800px;
    padding: 50px;
    
  }
  .left {
    width: 200px;
  }

  